.textoColuna{
    font-size: 1.7vw;
    color: white;
    font-weight: 200;
    font-family: "League Spartan", sans-serif;
    padding: .2vw;
}

.textoColuna:hover{
    color: #F9B815; ;
}

.professorOrganizacaoColuna{
    display: flex;
    flex-direction: column;
}