
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
.listaLinksStatic{
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: space-around;
    width: 40vw;
    align-items: center;
}

.centralizadorListaStatic{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.logoStatic{
    width: 17vh;
    height: 13vw;
}

.navegacaoStatic{
    position: static;
    display: flex;
    width: 100%;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
    background-color: #F9B815;
}

.linkNavbarStatic{
    text-decoration: none;
    color: black;
    font-family: "League Spartan", sans-serif;
    font-size: 1.5vw;
    font-weight: 600;
}




.botaoAvaliarStatic{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "League Spartan", sans-serif;
    font-size: 150%;
    background-color: #1C2454;
    color: white;
    gap: 8px;
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.iconeUsuarioStatic{
    color: black;
    
}

.addStatic{
    width:20%;
    height:40%;
}

.searchUserStatic{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18%;
}

.linkNavbarStatic::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #000;
    transition: transform 0.2s ease-in-out;
    transform: scaleX(0);
}

.linkNavbarStatic:hover::after{
    transform: scaleX(1);
}

.lupaUserStatic{
    align-items: center;
    justify-content: flex-end;
    display: flex;
    width: 40%;
    gap: 20px;
}

.iconeLupaStatic{
    width: 28px;
    height: 28px;
}

.iconeUsuarioStatic{
    width: 28px;
    height: 28px;
}