*{
    transition: 0.2s;
}

.cardAmarelo{
    background-color: #F9B815;
    color: black;
    display: flex;
    align-items: center;
    width: 18rem;
    height: 32rem;
    border-radius: 24px;
    justify-content: center;
}

.cardAmarelo:hover{
    background-color: black;
    color: #F9B815;
}

.textoCartaoAmarelo{
    font-size: 3vw;
    font-weight: 400;
}

.cardInfoAmarelo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 16vw;
}

