.invisivi{
    height: 100px;
    width: 100%;
}

.homePage{
    padding: 36px;
    padding-left: 10%;
}

.boasVindas{
    font-family: "League Spartan", sans-serif;
    color: #1C2454;
    font-size: 48px;
}