


.destaquesTexto{
    font-family: "League Spartan", sans-serif;
    color: white;
    font-size: 22px;
}

.cursoDestaqueFoto{
    width: 20vw;
    height: 12rem;
    border-radius: 12px;
}

.titulo{
    font-size: 1.5vw;
    font-weight: 600;
}

.textoInfo{
    font-size: 1.5vw;
    font-weight: 400;
}


.orgazinazcaoCursosDestaque{
    display: flex;
    flex-direction: column;
    padding-top: 4vw;
    height: 19rem;
    justify-content: space-between;
    align-items: center;
}