.professorHomeGrid{

    display: grid;
    grid-template-columns: 25% 75%;

}

.textoELinha{
    display: flex;
    flex-direction: column;
}

.lateralProfessor{
    padding: .5vw;
    grid-column: 1 1;
    width: 100%;
    height: 88vh;
    background-color: #1C2454;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.corpoProfessor{
    display: flex;
    flex-direction: column;
}

.perfilProfessor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emailProfessor{
    color: white;
    font-size: 1.5vw;
    font-family: "League Spartan", sans-serif;
    font-weight: 300;
}

.nomeProfessor{
    color: white;
    font-size: 1.75vw;
    font-weight: 700;
    font-family: "League Spartan", sans-serif;
}

.professorFoto{
    width: 10vw;
    border-radius: 360px;
}

.dia{
    padding: 2vw;
    padding-left: 4.5vw;
    font-size: 3.6vw;
    font-weight: 600;
    color: #1C2454;
    font-family: "League Spartan", sans-serif;
}

.linha{
    display: flex;
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 2px;
}

.info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avaliacaoTexto{
    color: #1C2454;
    font-size: 2vw;
    font-family: "League Spartan", sans-serif;
}

.classificacaoProfessor{
    background-color: #E9E9E9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    border-radius: 12px;
    width: 65vw;
}

.quadradosInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
    width: 70vw;
}

.linhaQuadrados{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.avaliacaoTextoDois{
    color: #1C2454;
    font-size: 3vw;
    font-weight: 600;
    font-family: "League Spartan", sans-serif;
    display: flex;
}

.quadradoInfoNum{
    transition: 0.5s;
    display:flex;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 20vh;
    background-color: #E9E9E9;
}

.quadradoInfoNum:hover{
    background-color: #1C2454;
    .avaliacaoTextoDois{
        color: #E9E9E9;
    }
}