.positivas{
    background-color: #1C2454;
    width: 100vw;
    height: 30vw;
}

.padding112{
    padding: 112px;
}

.maior{
    font-size: 64px;
}

.texto1Branco{
    color: white;
    font-family: "League Spartan", sans-serif;
    font-size: 2.5vw;
}

.soAqui{
    padding: 112px;
    padding-bottom: 0;
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

.mulherSobre{
    height: 44vw;
    width: 36vw;
}

.cursosDestaque{
    width: 95vw;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.textoSoAqui{
    padding-top: 2vw;
    font-size: 48px;
    color: #1C2454;
    font-family: "League Spartan", sans-serif;
}