*{
    text-decoration: none;

}

.positivas{
    background-color: #1C2454;
    width: 100%;
    height: 30vw;
    padding: 4vw;
    padding-bottom: 4vw;
}

a{
    padding: 0;
}

.maior{
    font-size: 3.5rem;
}

.padding112{
    padding: 112px;
}

.organizacaoCursosEmDestaque{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.texto1Branco{
    align-items: center;
    align-self: center;
    color: white;
    font-family: "League Spartan", sans-serif;
    font-size: 2.5vw;
    height: 0;
}

.textoBrancoTitulo{
    color: white;
    font-size: 4vw;
    font-family: "League Spartan", sans-serif;
}

.textoBrancoPequeno{
    color: white;
    font-family: "League Spartan", sans-serif;
    font-size: 2.2vw;
}

.soAqui{
    padding: 112px;
    padding-bottom: 0;
    width: 85rem;
    display: flex;
    justify-content: space-between;
}

.mulherSobre{
    height: 44rem;
    width: 36rem;
}

.cursosDestaque{
    width: 95vw;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.textoSoAqui{
    padding-top: 1.5rem;
    font-size: 48px;
    color: #1C2454;
    font-family: "League Spartan", sans-serif;
}

.avaliacoesAlunos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 36px;
}

.vantagens{
    padding-top: 8px;
}

.paddingleft112{
    padding-left: 112px;
}

.cartas{
    padding-top: 4vw;
    display: flex;
    justify-content: center;
}

.cartasOrganizacao{
    display: flex;
    justify-content: space-between;
    width: 70vw;

}

.sobreNosOrganizacao{
    padding-top: 1.5vw;
    display: grid;
    grid-template-columns: 50% 50%;

}

.fotoPessoas{
    width: 50vw;
    height: 50vw;
    grid-column: 1 1;
}

.sobreNos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vw;
    background-color: #1C2454;
    grid-column: 2 2; 
}

.computadoresEquipe{
    height: 100%;
    width: 100%;
}

.textoFormatacao{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40vw;
    height: 38vw;
}

.frequenteOrganizacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1 1;
}

.duvidasFrequentesOrganizacao{
    display: grid;
    grid-template-columns: 50% 50%;
}

.acordes{
    width: 100%;
}

.duvidasFrequentesFormatacao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    height: 30%;
}

.computador{
    height: 100%;
    width: 100%;
}

.textoAzulTitulo{
    color: #1C2454;
    font-family: "League Spartan", sans-serif;
    font-size: 3vw;
    font-weight: 700;
}

.fotoComputadores{
    grid-column: 2 2;
}