.fundo{
    background-color: #1C2454;
    height: 100%;
    width: 100%;
}
.introducao{
    padding: 2.6%;
    height: 5%;
}

.invisivi{
    height: 11vh;
    width: 100%;
}

.formElogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 73%;
}

.loginTxt{
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.criarContaTexto{
    font-family: "League Spartan", sans-serif;
    color: white;
    font-weight: 700;
    font-size: 360%;
}

.verificaLogin{
    font-family: "League Spartan", sans-serif;
    color: white;
    font-weight:400;
    text-decoration: none;
    font-size: 180%;
}

.insiraDadosTexto{
    font-family: "League Spartan", sans-serif;    
    color: white;
    font-weight: 150;
    font-size: 350%;
}

.estudanteEform{
    display: flex;
    justify-content: space-between;
    width: 190vh;
    height: 68.5vh;
}

.formularioCadastro{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #F9B815;
    border-radius: 12px;
    padding: 24px;
    width: 450px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.preencher{
    display: flex;
    flex-direction: column;
    height:350px;
    justify-content: space-around;
}


.campo{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: #000;
    padding: 24px;
    height: 55px;
    width: 350px;
    text-decoration: none;
    font-size: 18px;
    outline: none;
    font-family: "League Spartan", sans-serif ;
    color: #000;
    border-radius: 12px;
    border: none;
}

::placeholder{
    color: #000;
}

.botaoEnviar{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    background-color: #1C2454;
    color: white;
    gap: 8px;
    width: 350px;
    height: 60px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

@keyframes aumento{
    from{width: 350px; height:60px}
    to{width: 360px; height: 70px;}
}

.botaoEnviar:hover{
    animation-name:aumento ;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}
