*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.15s;
}


.fundo{
    height: 88vh;
    background-color: #1C2454;
}

@media only screen and ( max-width: 800px){
    .fundo{
        height: 400%;
    }
    .estudante{
        display: none;
    }
    .estudanteEform{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .formElogin{
        justify-content: flex-start;
        align-items: flex-start;
        height: 1px;
    }
    .verificaLogin{
        padding: none;
    }
    .formularioCadastro{
        align-self: center;
    }
}

.formElogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 73%;
}

.loginTxt{
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.criarContaTexto{
    font-family: "League Spartan", sans-serif;
    color: white;
    padding-top: 48px;
    padding-left: 36px;
    font-weight: 700;
    font-size: 2.995vw;
}

.verificaLogin{
    font-family: "League Spartan", sans-serif;
    color: white;
    font-weight:400;
    text-decoration: none;
    font-size: 1.3vw;
    padding-bottom: 12px;
    padding-top: 12px;
}

.insiraDadosTexto{
    font-family: "League Spartan", sans-serif;    
    color: white;
    font-weight: 150;
    font-size: 2.92vw;
    padding-left: 36px;
}

.estudante{
    width: 34rem;
    height: 34rem;
}

.estudanteEform{
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 90vw;
    height: 72.1vh;
}

.tipoConta{
    font-family: "League Spartan", sans-serif;
    font-size: 1.15vw;
}

.formularioCadastro{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #F9B815;
    border-radius: 12px;
    padding: 1vw;
    width: 23vw;
    height: 26vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.alternativa{
    font-family: "League Spartan", sans-serif;
    font-size: 1vw;
}

.alternativas{
    height: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alternativaConta{
    display: flex;
    justify-content: space-around;
}

.preencher{
    display: flex;
    flex-direction: column;
    height:18vw;
    justify-content: space-around;
}


.campo{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: #000;
    padding: 1vw;
    height: 6vh;
    width: 18.5vw;
    text-decoration: none;
    font-size: 0.95vw;
    outline: none;
    font-family: "League Spartan", sans-serif ;
    color: #000;
    border-radius: 12px;
    border: none;
    padding: 12px;
}

::placeholder{
    color: #000;
}

.botaoEnviar{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    background-color: #1C2454;
    color: white;
    gap: 8px;
    width: 18.5vw;
    height: 3vw;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


.botaoEnviar:hover{
    width: 19vw;
    height: 3.2vw;
}
