*{
    transition: 0.2s;
}

.cartao{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    width: 18rem;
    height: 32rem;
    border-radius: 24px;
    justify-content: center;
    border: 5px;
    border-style: solid;
}

.cartao:hover{
    background-color: white;
    color: black;
    border-color: black;
}

.textoCartao{
    font-size: 3vw;
    font-weight: 400;
}

.cartaoInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 16vw;
}

